@import url('https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
    overflow-x: hidden;
}

.fnt{
    font-family: Cherry Swash;
}
.navbar{
    font-family: Cherry Swash;
    padding-left: 3vw;
    padding-right: 3vw;
}
.navbar-brand{
    padding-left: 1vw;
}
.bg-img{
    height: 85vh;
    background-image: url('../assests/cr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hding{
    padding-top: 25vh;
    color: white;
    font-family: Cherry Swash;
    font-size: 6vh;
}
.desc{
    font-family: Playfair Display;
    font-size: 2.5vh;
    color: white;
}
.rd{
    text-align: center;
    font-family: Cherry Swash;
    font-size: 4vh;
    font-weight: bold;
}
.rd-info{
    background: linear-gradient(to bottom ,#000000dc 3%, rgb(228, 228, 228) 100%);
    
}
.r-name{
    padding-top: 8vh;
    color: white;
    font-family: Cherry Swash;
    font-size: 4vh;
    font-weight: bold;
}
.c-name{
    color: white;
    font-family: Cherry Swash;
    font-size: 4vh;
    font-weight: bold;
}
.det{
    color: white;
    font-family: Cherry Swash;
    font-size: 2vh;
    font-weight: bold;
}

.btn-outline-danger{
    color: brown;
    border-color: brown;
    border-radius: 50px;
    border: 2px solid;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 5vh;
}
.paralax{
    height: 50vh;
    width: 100vw;
    background-image: url('../assests/3.jfif');
    background-position: center;
    background-size: cover;
    margin-top: 10vh;
   background-attachment: fixed;
}
.cover{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.des{
    text-align: center;
    font-family: Playfair Display;
    font-size: large;
}
footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.877);
    font-family: Playfair Display;
}












@media screen and  (max-width: 320px){
   .hding{
       padding-top: 20vh;
       font-size: 5vh;
   }
  
}

@media screen and (min-width: 724px) and (max-width: 1050px){
    .navbar-brand{
        font-size: 2.5vh;
    }
    .navbar{
        font-size: 2vh;
    }
}
@media screen and (min-width: 1050px) {
    .navbar-brand{
        font-size: 3.5vh;
    }
    .navbar{
        font-size: 2.5vh;
    }
    
}